*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-title{
    margin-top: 150px;
}
.text-1{
    font-size: 33px;
    text-align: center;
    color: #30CFD3;
    font-weight: 100;
}
.text-2{
    font-size: 64px;
    text-align: center;
    font-weight: 200;
}
.lorem-1{
    text-align: center;
    font-size: 17px;
    width: 600px;
    margin-left: 450px;
    margin-top: 35px;
    font-weight: 100;
}
.content-1{
    display: inline-block;
    margin-left: 200px;
    
}
.content-2{
    display: inline-block;

}
.content-3{
    display: inline-block;

}
.content-4{
    display: inline-block;
    margin-right: 100px;
}
.icon-1{
    margin-left: 5px;
    position: relative;
    display: block;
}
.icon-2{
    margin-left: 5px;
    position: relative;
    display: block;
}
.icon-3{
    margin-left: 5px;
    position: relative;
    display: block;
}
.icon-4{
    margin-left: 5px;
    position: relative;
    display: block;
}
.name-1{

}
.name-2{

}

.name-3{

}

.name-4{}
.content-text-1{display: inline-block;
    line-height: 1.5em;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 20px;
}
.content-text-2{display: inline-block;
    line-height: 1.5em;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 20px;}
.content-text-3{display: inline-block;
    line-height: 1.5em;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 20px;}
.content-text-4{display: inline-block;
    line-height: 1.5em;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 20px;}